<div>
    <ul>
        <li>ID carrito {{id}}</li>
        
        {{#each products}}
            <li>ID producto: {{this.id}}</li>
            <li>Cantidad: {{this.quantity}}</li>
        {{/each}}       
    </ul>
</div>